---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import kitchen from "../images/kitchen-stock.jpg";
import { Image } from "astro:assets";
---

<Layout>
  <div class="relative">
    <Image alt="kitchen" class="w-full z-0" src={kitchen} />
    <div
      class="absolute w-full h-full top-0 z-10 bg-gradient-to-r from-black to-black/30"
    >
    </div>
    <div
      class="top-0 absolute z-20 items-center flex justify-center h-full w-full"
    >
      <div class="w-[1400px] grid-cols-2 grid">
        <div class="p-4 w-[500px] rounded-lg text-white mb-10">
          <h1 class="text-4xl font-bold">CUSTOMER FOCUSED TECHNOLOGY DRIVEN</h1>

          <h2 class="pt-4 text-2xl">
            Your Trusted & Local Professional Electrician
          </h2>
          <div class="pt-4"></div>
          <button
            class="border px-3 py-2 font-medium text-black cursor-pointer bg-white rounded-md hover:text-white hover:bg-black"
            >REQUEST A QUOTE</button
          >
        </div>
      </div>
    </div>
  </div>
</Layout>
