---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import kitchen from "../images/kitchen-stock.jpg";
import Stat from "../components/hero/Stat.astro";
import { Image } from "astro:assets";
---

<Layout>
  <div class="relative">
    <Image alt="kitchen" class="w-full z-0" src={kitchen} />
    <div
      class="absolute w-full h-full top-0 z-10 bg-gradient-to-r from-black to-black/30"
    >
    </div>
    <div
      class="top-0 absolute z-20 items-center flex justify-center h-full w-full"
    >
      <div class="w-[1400px] grid-cols-2 grid">
        <div class="p-4 w-[600px] rounded-lg text-white mb-10">
          <h1 class="text-5xl font-bold">CUSTOMER FOCUSED TECHNOLOGY DRIVEN</h1>

          <h2 class="pt-4 text-2xl">
            Your Trusted & Local Professional Electrician
          </h2>
          <div class="pt-8"></div>
          <button
            class="border px-3 py-2 font-medium text-black cursor-pointer bg-white rounded-md hover:text-white hover:bg-black"
            >REQUEST A QUOTE</button
          >
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 p-8 z-10 right-64 bg-[#F5F5F5]">
      <div
        class="grid grid-cols-2 items-center gap-x-20 gap-y-10 justify-items-center"
      >
        <Stat title="Test" stat="Test" />
        <Stat title="Test" stat="Test" />
        <Stat title="Test" stat="Test" />
        <Stat title="Test" stat="Test" />
      </div>
    </div>
  </div>
  <div class="bg-[#F5F5F5]">
    <div class="w-[800px] mx-auto py-20">
      <h3 class="text-3xl">WE OFFER VARIETY OF ELECTRICAL SERVICES</h3>
      <div class="pt-10"></div>
      <p>
        We offer a multitude of electrical services such as lighting repairs,
        electrical home safety, outlets and dimmer repairs, troubleshooting
        whole home generators and more! No matter what electrical service you
        need, our licensed, insured and background-checked technicians will be
        there to assist you. Our employees truly care about our customers—they
        will always wear shoe covers and lay down floor tarps to protect your
        home from the mess of the work. With our red carpet treatment and
        high-quality electrical services, we will be sure to leave your house in
        even better condition than we found it!
      </p>
    </div>
  </div>
</Layout>
