---
import "swiper/css";
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide w-full h-20 bg-green-400">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  const swiper = new Swiper(".swiper", {});
</script>
