---
const phoneNumber = "+1 (555) 123-4567";
import { Image } from "astro:assets";
import { MenuLinks } from "./menu-links.tsx";
import logoTransparent from "../images/logo-transparent.png";
---

<nav class="w-full border-b">
  <div
    class="grid grid-cols-3 justify-center py-4 items-center w-[1400px] mx-auto"
  >
    <!-- Left: Logo -->
    <div>
      <a
        href="/"
        style="font-weight:bold; font-size:1.25rem; color:#333; text-decoration:none;"
      >
        <Image
          src="/logo.png"
          src={logoTransparent}
          alt="Company Logo"
          width="150"
          height="50"
        />
      </a>
    </div>
    <!-- Center: Links -->

    <div class="flex justify-center items-center">
      <MenuLinks />
    </div>
    <!-- Right: Phone Number -->
    <div style="flex:1; text-align:right;">
      <span style="color:#333;">{phoneNumber}</span>
    </div>
  </div>
</nav>
