---
const phoneNumber = "+1 (555) 123-4567";
import { Image } from "astro:assets";
import { MenuLinks } from "./menu-links.tsx";
import logoTransparent from "../images/logo-transparent.png";
---

<nav class="w-full border-b sticky top-0 z-30 bg-white">
  <div
    class="grid grid-cols-2 lg:grid-cols-3 justify-center py-4 items-center w-full px-4 xl:px-0 xl:w-[1400px] mx-auto"
  >
    <!-- Left: Logo -->
    <div>
      <a
        href="/"
        style="font-weight:bold; font-size:1.25rem; color:#333; text-decoration:none;"
      >
        <Image
          src="/logo.png"
          src={logoTransparent}
          alt="Company Logo"
          width="150"
          height="50"
        />
      </a>
    </div>
    <!-- Center: Links -->

    <div class="hidden lg:flex justify-center items-center">
      <MenuLinks />
    </div>
    <!-- Right: Phone Number -->
    <div class="flex gap-x-2 items-center justify-end">
      <span style="color:#333;">{phoneNumber}</span>
      <button class="cursor-pointer lg:hidden">
        <svg width="30" height="30" viewBox="0 0 24 24" fill="none">
          <rect x="4" y="6" width="16" height="2" fill="currentColor"></rect>
          <rect x="4" y="11" width="16" height="2" fill="currentColor"></rect>
          <rect x="4" y="16" width="16" height="2" fill="currentColor"></rect>
        </svg>
      </button>
    </div>
  </div>
</nav>
